html, body {
height: 100%;
margin: 0;
padding: 0;
}

/*For Google Maps to render correctly*/
#root, #app, #map {
  height: 100%;
}

/*App*/
#app {
    display: flex;
}

/*Sidebar*/

.sidebar {
    width: 30%;
}

/*Mapview - note ID map not class*/

#map {
    width: 70%;
}
